html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav a:hover{
  text-decoration: none;
}

.active {
  display: inline-block;
}
.not-active{
  display: none;
}
img.img-med{
  height: auto;
  min-width: 5rem;
  max-width: 30rem;
}
img.thumbnail{
  height: auto;
  min-width: 4rem;
  max-width: 7.5rem;
}
img.img-opacity{
  opacity: 0.7
}
.filter-card {
  max-width: 11.5rem;
  min-width: 6rem;
}
.container-content{
  max-width: 1500px;
}
#NavBar-Logo{
  width: 5rem;
}
#home-page{
  padding-top: 4.5rem;
}
.col-md-4 .directory-cards{
  transition: all 0.3s;
}
.col-md-4 .directory-cards:hover{
  transform: scale(0.95);
}
.col-md-4 .directory-cards a:hover{
  text-decoration: none;
}