body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  display: inline-block;
}
.not-active{
  display: none;
}
img.img-med{
  height: 100%;
  min-width: 10rem;
  max-width: 30rem;
}
img.thumbnail{
  height: auto;
  min-width: 6rem;
  max-width: 9rem;
}
img.img-main{
  height: auto;
  min-width: 15rem;
  max-width: 45rem;
}
img.img-opacity{
  opacity: 0.7
}
